{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card">
                {% comment %} <img src="https://picsum.photos/id/40/4106/2806" alt="" class="card-img-top"> {% endcomment %}
                <img src="{% static 'reservas/img/001.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="card-text">Hóspede Nível 3</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ user.username }}</li>
                    <li class="list-group-item">{{ user.email }}</li>
                </ul>
                <div class="card-body">
                    
                    {% if numero_de_hospedagens > 0 %}
                        <p>Você já se hospedou conosco {{ numero_de_hospedagens }} vez{{ numero_de_hospedagens|pluralize:'es' }}.</p>
                        <p><a href="{% url 'reservas:reservas_por_hospede' user.id %}" class="card-link">Visualizar Hospedagens</a></p>

                    {% else %}
                        <p>Você nunca se hospedou conosco.</p>
                        
                        {% if perms.reservas.pode_reservar_pelo_site %}
                            <p><a href="#">Hospede-se agora!</a></p>
                        {% else %}
                            <p class="sem_permissao_pra_reservar">Entre em contato no telefone 2345678 para fazer sua reserva.</p>
                        {% endif %}
                        
                    {% endif %}

                </div>
            </div>
            
        </div>
    </div>

{% endblock content %}