{% extends 'base.html' %}

{% block content %}

    <div class="row d-flex justify-content-center">
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show text-center col-md-12" role="alert">
                {% for title, message in form.errors.items %}
                    <p>{{ title }}: <strong>{{ message }}</strong></p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
        {% endif %}
            <form action="{% url 'login' %}" class="row g-2" method="POST">

                {% csrf_token %}
    
                <div class="col-md-12">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Informe o seu usuário">
                </div>
                <div class="col-md-12">
                    <input type="text" name="password" id="password" class="form-control" placeholder="Informe a sua senha">
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            <div class="row">
                <div class="col-md">
                    <a href="#">Criar nova conta</a>
                </div>
            </div>
    </div>

{% endblock content %}