{% extends 'base.html' %}

{% block content %}

    <div class="row d-flex justify-content-center">
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for title, message in form.errors.items %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
        {% endif %}
    </div>

{% endblock content %}